@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "DM Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-title {
  @apply text-[30px] md:text-[2.1875rem] md:font-medium md:leading-[45.57px] text-left text-secondary-100;
}

.form-subtitle {
  @apply text-[20px] leading-[28.64px] md:text-xl md:font-normal md:leading-[26.04px] text-left text-secondary-100;
}

@media screen and (max-width: 767px) {
  .form-title {
    font-weight: bold;
  }
  .form-subtitle {
    font-weight: normal;
  }
  .label {
    font-weight: normal;
  }
}

// React country select
.ReactFlagsSelect-module_selectBtn__19wW7 {
  padding: 11px 16px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

ul[role="listbox"] {
  width: 250px;
  left: -150px;
  height: 50vh;
  max-height: 300px;
  transform: translate(-8px, -6px);
}

button#rfs-btn {
  padding: 11px 5px !important;
}

@media screen and (max-width: 767px) {
  button#rfs-btn {
    padding: 3.4px 5px !important;
  }
}
