@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "DM Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #f8f8fb;
  @apply text-secondary-100;
}

.form-title {
  @apply text-[30px] md:text-[2.1875rem] md:font-medium md:leading-[45.57px] text-left text-secondary-100;
}

.form-subtitle {
  @apply text-[20px] leading-[28.64px] md:text-xl md:font-normal md:leading-[26.04px] text-left text-secondary-100;
}

@media screen and (max-width: 767px) {
  .form-title {
    font-weight: bold;
  }
  .form-subtitle {
    font-weight: normal;
  }
  .label {
    font-weight: normal;
  }
}

.onboarding-card {
  @apply border cursor-pointer hover:border-primary-100 shadow-onboardingCard border-secondary-150 rounded-[15px] py-10 md:px-[35px] xl:px-[53px] flex justify-between items-center gap-3 xl:gap-5;
}

.franchain-checkbox {
  @apply data-[state=checked]:bg-primary-100 border-[0.82px] data-[state=checked]:border-primary-100 w-[23.91px] h-[23.91px];
}

// // React country select
// .ReactFlagsSelect-module_selectBtn__19wW7 {
//   padding: 11px 16px !important;
//   border-top-left-radius: 0px !important;
//   border-bottom-left-radius: 0px !important;
//   border-radius: 12px;
//   // @apply rounded-[6.05px] md:rounded-xl;
// }
// @media screen and (max-width: 767px) {
//   .ReactFlagsSelect-module_selectBtn__19wW7 {
//     border-radius: 6.05px;
//   }
// }

/**
styles for react country select starts here
**/
ul[role="listbox"] {
  width: 250px;
  left: -140px;
  height: 50vh;
  max-height: 300px;
  transform: translate(-8px, -6px);
  border-radius: 0px !important;
}
@media screen and (max-width: 767px) {
}

button#rfs-btn {
  padding: 11px 15px 11px 5px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
  // @apply rounded-[6.05px] md:rounded-xl;
}

@media screen and (max-width: 767px) {
  button#rfs-btn {
    padding: 3.4px 15px 3.4px 5px !important;
    border-top-right-radius: 6.05px !important;
    border-bottom-right-radius: 6.05px !important;
    // border-radius: 6.05px !important;
  }
}

/**
styles for react country select ends here
**/
